whitelist.json
paper-1.21.3-82.jar
paper.jar
cache/*
versions/*
eula.txt
help.yml
version_history.json
permissions.yml
libraries/*
.cache/*
plugins/*
crash-reports/*
.console_history
logs/*
bukkit.yml
commands.yml
config/*
ops.json
banned-players.json
banned-ips.json
spigot.yml
usercache.json
server.properties
README.md
.gitconfig
.ssh
.bash_history
.vimrc
.viminfo
.bashrc
.config/*
